.activity-layout {
  display: flex;
  min-height: 100vh;
}

.main-section {
  flex: 1;
  display: flex;
  margin-left: 285px;
  flex-direction: column;
  position: relative;
  top: -7px;
  transition: margin-left 0.25s ease;
}
.sidebar.collapsed + .main-section {
  margin-left: 105px;
}


.activities {
    
  flex: 1;
  padding: 24px 32px;
  justify-content: center;
  background-color: #f7f8fa;
  position: relative;
}

.activities::before {
  content: "";
  position: absolute;
  left: 75px;
  top: 30px;
  width: 1px;
  height: 100%;
  background-color: #e5e7eb;
}


.activity-card {
  display: flex;
  align-items: flex-start;
  margin-bottom: 28px;
}

.activity-type {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #eef2ff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  margin-left: 26px;
  margin-right: 18px;
  z-index: 2;
}


.activity-details {
  background: #ffffff;
  border-radius: 14px;
  padding: 16px 20px;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 900px;
  box-shadow: 0 4px 14px rgba(16, 24, 40, 0.08);
}

.activity-img img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  object-fit: cover;
}

.activity_details {
  flex: 1;
  margin-left: 14px;
}

.activity-user-name {
  font-size: 14px;
  margin: 0;
  color: #101828;
  font-weight: 500;
}

.activity-user-name span {
  font-weight: 600;
}

.activity-action {
  font-size: 15px;
  color: #667085;
  margin-top: 4px;
  font-weight: 400;

}

.activity-time {
  font-size: 12px;
  color: #667085;
  white-space: nowrap;
  margin-left: 24px;
}
