.sidebar {
  height: 98vh;
  width: 260px;
  background: #ffffff;
  border-right: 1px solid #e5e7eb;
  display: flex;
  flex-direction: column;
  padding: 16px;
  position: fixed;
  top: 0;
  left: 0;
 transition: width 0.25s ease;
}

.sidebar.collapsed {
  width: 80px;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  font-size: 18px;
}

.logo-icon {
  background: #6c63ff;
  color: #ffffff;
  width: 36px;
  height: 36px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.collapse-btn {
  background: #f1f1f5;
  border: none;
  border-radius: 8px;
  padding: 6px 10px;
  cursor: pointer;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  color: #4b5563;
  font-size: 17px;
}

.icon {
  width: 25px;
  text-align: center;
}

.projects {
  margin-top: 30px;
}

.projects-title {
  font-size: 12px;
  color: #9ca3af;
  margin-bottom: 10px;
}

.project {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  color: #374151;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #6c63ff;
}



.user {
  margin-top: auto;
  display: flex;
  gap: 10px;
  padding-top: 15px;
  border-top: 1px solid #e5e7eb;
}

.avatar {
  background: #f59e0b;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.name {
  font-size: 14px;
  font-weight: 600;
}

.email {
  font-size: 12px;
  color: #6b7280;
}
